* {
	margin: 0px;
	padding:0px;
}

div {
	margin:0 auto;
	text-align: center;
}

li.direita {
	text-align: right;
	float:right;
	background-color: #efefef;
	color: #000;
}

li.direita a {
	text-align: right;
	float:right;
	color: #000000 !important;
	font-size: 9px !important;
}
#main {
	width: 970px;
}

#content {
	width: 780px;
	float: left;
}

#main #content #header,
#main #content #corpo {
	width: 100%;
	font-family: Verdana;
	font-size: 14px;
	color: #666666;
	text-align: left;
	font-weight: bold;
	float: left;
}

#main #lateralDireita {
	float: right;
	width: 185px;
}

.bordaDestaque {
	border: 1px solid #efefef;
	border-top: none;
}

#main #lateralDireita ul {
	display: block;
	padding-top: 5px;
	list-style-type: none;
}

#main #lateralDireita ul li {
	text-align: center;
	margin: 0px 2px 0px 2px;
	border-bottom: 1px solid #DFDFDF;
}

#main #footer {
	float: left;
	width: 100%;
	margin: 20px 0px;
	padding-bottom: 5px;
}

#main #footer p.copyright {
	text-align: left;
	font-size: 9px;
	color: #666;
	font-family: verdana;
	border-top: 1px solid #dddddd;
	padding-top: 5px;
	clear:both;
}

#main #footer p.copyright a{
	color: #666;
	text-decoration: underline;
}

#main #footer ul {
	float: left;
	text-align: left;
	list-style-type: none;
	display: inline;
	width: 100%;
}

#main #footer ul li{
	float: left;
	text-align: left;
	list-style-type: none;
	display: inline;
	height: 25px;
}

#main #footer ul li.primeiro a {
	border: none;
	padding: 0px 15px 0px 0px;
}

#main #footer ul li a{
	color: #666;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #666;
	font-family: verdana;
	border-left: 1px solid #999;
	padding: 0px 15px;
}

#main #footer ul li a:hover {
	text-decoration: underline;
}

#main #footer ul li.primeiro a:hover { color: #FA0204;}
#main #footer ul li.azul a:hover { color: #0000FE;}
#main #footer ul li.azulClaro a:hover {color: #269EFF; }
#main #footer ul li.amarelo a:hover { color: #FFFD08;}
#main #footer ul li.vermelho a:hover {color: #BF9406; }

#barraLogo {
	clear: both;
}

#barraLogo .logo {
	float: left;
	width: 100%;
}

#header .menuPesquisa { background: url('../images/menuPesquisaBg.gif') top center repeat-x; clear:both;}
#header .menuPesquisaEsq { background: url('../images/menuPesquisaBgEsq.gif') top left no-repeat; }
#header .menuPesquisaDir { background: url('../images/menuPesquisaBgDir.gif') top right no-repeat; height: 41px; }

#header .menuItens { background: url('../images/menuItensBg.gif') bottom center repeat-x;}
#header .menuItensEsq {	background: url('../images/menuItensEsq.gif') bottom left no-repeat; }
#header .menuItensDir { background: url('../images/menuItensDir.gif') bottom right no-repeat; height: 28px;}

#header .menuItensDir ul li {
	list-style-type: none;
	float: left;
	padding: 5px 15px 0px 10px;
	background: url('../images/divisoria.gif') bottom right no-repeat; 
}

#header .menuItensDir ul li.novo {
	list-style-type: none;
	float: left;
	padding: 5px 35px 0px 10px;
	background: url('../images/novo.gif') top right no-repeat;
	height: 28px;
}

#header .menuItensDir ul li a {
	color: #666666;
	text-decoration: none;
}

#header .menuItensDir ul li a:hover {
	text-decoration: underline;
}

#header .menuItensDir ul li font {
	float: left;
}

#departamentos {
	float:left;
	top: 165px;
	left: 40px;
	_left: 30px; 
	position: absolute;
	border: 1px solid #000000;
	background-color: #fff;
	width: 602px;
}

#departamentos ul {	
	float:left;
	text-align: left;
	width: 200px;
}

#departamentos ul li {
	display: inline;
	margin:0px !important;
	padding:0px !important;
	background: none !important;
	float: left;
	line-height: 20px;
	width: 100%;
	font-size: 11px;
	text-align: left;
}

#departamentos ul li a {
	padding: 0px 5px 2px;
	display:block;
}

#departamentos ul li a:hover {
	background-color: #C1E4FF;
}

#corpo .menu {
	clear: both;
	text-align: left;
	width: 220px;
	float: left;
	margin-top: 5px;
}
#corpo .menu ul {
	border: 1px solid #efefef;
	border-top: none;
	width: 220px;
	display: block;
}

#corpo .menu ul li {
	width: 100%;
	list-style-type: none;
}

#corpo .menu ul li a {
	color: #999999;
	font-size: 12px;
	padding: 2px;
	display:block;
	margin: 2px 5px;
	text-decoration: none;
}

#corpo .menu ul li a.bannerEsq {
	padding: 0px !important;
	margin: 0px !important;
	display:block;
	text-decoration: none;
}

#corpo .menu ul li a:hover {
	text-decoration: underline;
	color: #FF0000;
}

#corpo .miolo {
	width: 560px;
	margin-top: 10px;
	float: right;
}


#corpo .miolo p {
	text-align: left;
	font-weight: normal;
	margin: 0 10px 10px 10px;
}

#corpo .miolo h3 {
	text-align: left;
	font-weight: bold;
	margin: 10px;
	
}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */

.tablePesquisa {
	text-align: left;
	float: left;
	margin: 5px;
}


/* htmls forms */
input, select {
	font-family: verdana;
}
select {
	padding-left: 5px;
}

.inputPesquisa {
	width: 250px;
}

input.btPesquisa {
	/*background:transparent url(../img/bt_boletim.jpg) no-repeat scroll 0 0;*/
	color:#000;
	font-size:10px;
	font-weight:bold;
	padding: 2px;
	width:100px !important;
}

button {
	background: transparent;
	border: none;
	cursor:pointer;
	margin-top: 1px;
	width: 100%;
	float: left;
}

div.botao {
	background: transparent url(../images/btEsquerda.png) no-repeat top left;	
	font-family: verdana;
	font-size: 10px;
	height:21px;
	padding-left: 11px;
	float: left;
}

div.botao div {
	background: transparent url(../images/btDireita.png) no-repeat top right;
	font-family: verdana;
	height:21px;
}

div.botao div div {
	padding: 1px 15px 5px 0px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	WHITE-SPACE: nowrap !important;
	font-size: 12px;
	color: #000000;
}

ul#bread {
	width: 98%;
	margin: 0px 5px;
	border: 0px solid #000;
	list-style: none;
	height: 20px;
	font-size: 12px;
}

ul#bread li {
	float: left;
	padding-left: 5px;
}

ul#bread li a {
	color: #000;
	text-decoration: none;
}

ul#bread li a:hover {
	color: #FF0000;
	text-decoration: underline;
}

#corpo .lista {
	width: 98%;
	text-align: left;
	float: right;
}

ul#listaDepartamento {
	float: left;
	width: 32%;
	padding: 5px;
	list-style-type: none;
}

ul#listaDepartamento li,
ul#listaDepartamento li ul li,
ul#listaDepartamento li a,
ul#listaDepartamento li ul li a {
	WHITE-SPACE: nowrap !important;
	font-size: 11px;
	text-decoration: none;
	color: #333;
}

ul#listaDepartamento li ul li a:hover {
	color: #FF0000;
}

ul#listaDepartamento li a:hover {
	color: #0000FF;
}

ul#listaDepartamento li ul {
	margin-left: 15px;
	list-style-type: none;
}

ul#listaDepartamento li ul li {
	font-weight: normal;
	clear: both;
}
